<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<header th:fragment="header">
    <div class="block">
        <div class="background">
            <div class="content-container">
                <div class="menu" th:width="300px" th:height="300px">
                    <div class="nav">
                        <ul>
                            <li class="nav-item">
                                <a class="nav-link" href="/doctors">Лекари</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" sec:authorize="hasAnyAuthority('DOCTOR, ADMIN')" href="/patients">Пациенти</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" sec:authorize="hasAuthority('PATIENT')" href="/medical-record">Досие</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/profile">Профил</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <button class="exit-btn">
                    <a href="/logout">Изход</a>
                </button>
            </div>
            <section id="messages">
                <div data-th-if="${message}" class="alert alert-dismissible fade show message" role="alert">
                    <span data-th-text="${message}"></span>
                    <button type="button" class="close" data-dismiss="alert">
                        <span>&times;</span>
                    </button>
                </div>
            </section>
        </div>
    </div>
</header>