<!DOCTYPE html>
<html
        lang="en"
        data-th-fragment="layout"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block th:include="base-fragment::head"></th:block>

    <title>Неразрешен достъп</title>

    <link th:href="@{/css/shared.css}" rel="stylesheet" />
    <link th:href="@{/css/patient.css}" rel="stylesheet" />
    <link th:href="@{/css/user.css}" rel="stylesheet" />

</head>
<body>
<div class="unauthorized block patient-background">
    <div class="page-title">Неразрешен достъп!</div>
    <header th:replace="base-fragment::header"></header>
</div>
</body>
</html>